.titulo {
    @include titulo
}

.nav {
    @include nav;

    .item-nav {
        @include item-nav
    }
}

.section-contacto {
    display: flex;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    div {
        .titulo-formulario {
            color: white;
            font-family: $fuente;
            font-size: ($texto-estandar)+10px;
            padding-left: 6rem;
            margin-bottom: 2rem;
            text-decoration: underline;
        }
        .formulario-contacto {
            color: white;
            font-family: $fuente;
            font-size: $texto-estandar;
            line-height: 1.3;
            padding-left: 6rem;
            display: flex;
            flex-direction: column;
            .margen-input {
                margin: 13px 0;
            }
            .margen-preguntas {
                margin-top: 2rem;
            }
            .margen-consulta {
                margin-top: 1rem;
            }
            .margen-siono {
                margin-top: 1rem;
            }
            .botones-formulario {
                margin-top: 1rem;
            }
        }
    }
    .ubicacion-contacto {
        margin-left: 8rem;
        .titulo-ubi-contacto {
            color: white;
            font-family: $fuente;
            font-size: ($texto-estandar)+10px;
        }
    }
}


@media only screen and (max-width: 1024px) {
    .ubicacion-contacto {
        margin-right: 3rem;
    }
}

@media only screen and (max-width: 480px) {
    .titulo {
        font-size: 30px
    }
    .item-nav {
        font-size: 10px;
    }
    .section-contacto {
        flex-direction: column;
        width: 100%;
        padding-top: 5rem;
        div {
            .titulo-formulario {
                font-size: ($texto-estandar)+7px;
                padding-left: 5rem;
            }
        }
        .ubicacion-contacto {
            margin: 3rem 0 3rem 3rem;
            padding: 0;
            .mapa-contacto {
                width: 400px;
            }
        }
    }
}