.titulo {
   @include titulo
}

.texto-uno-cursos {
    color: white;
    font-family: $fuente;
    font-size: ($texto-estandar)+2px;
    padding: 5rem 12rem 0 12rem;
    text-align: center;
}

.section-uno-cursos {
    display: flex;
    justify-content: space-between;
    margin: 3rem 7rem 0 7rem;
        .texto-dos-cursos {
        color: white;
        font-family: $fuente;
        font-size: ($texto-estandar)+2px;
        width: 40%;
        padding-top: 4.5rem;
        text-align: center;
    }
    
    .caja-uno-cursos {
        background-color: white;
        width: 50%;
        height: 320px;
        margin-top: 1rem;
        .flex-cajas {
            display: flex;
            justify-content: space-evenly;
            .minicaja-viajes {
                background-color: #002261e2;
                @include tamaño-minicajas-cursos;
                align-items: center;
                margin: 10px 0;
                .titulo-minicaja-viajes {
                    color: white;
                    font-family: $fuente;
                    font-size: 25px;
                    text-align: center;
                    padding: 3.5rem 0;
                    backface-visibility: hidden;
                }
            }
            .minicaja-trabajo {
                background-color: #002261e2;
                @include tamaño-minicajas-cursos;
                margin: 10px 0;
                .titulo-minicaja-trabajo {
                    color: white;
                    font-family: $fuente;
                    font-size: 25px;
                    text-align: center;
                    padding: 3.5rem 0;
                    backface-visibility: hidden;
                 }
            }
            .transicion-minicajas-cursos {
                transition-timing-function: ease-out;
                transition: 1s;
                overflow: hidden
            };
            .transicion-minicajas-cursos:hover {
                transform: rotateY(180deg);
            }
            
        }
        .flex-cajas {
            display: flex;
            justify-content: space-evenly;
            .minicaja-hobby {
                background-color: #002261e2;
                @include tamaño-minicajas-cursos;
                .titulo-minicaja-hobby {
                    color: white;
                    font-family: $fuente;
                    font-size: 25px;
                    text-align: center;
                    padding: 3.5rem 0;
                    backface-visibility: hidden;
                 }
            }
            .minicaja-profesionales {
                background-color: #002261e2;
                @include tamaño-minicajas-cursos;
                .titulo-minicaja-profesionales {
                    color: white;
                    font-family: $fuente;
                    font-size: 20px;
                    text-align: center;
                    padding: 3.5rem 0;
                    backface-visibility: hidden;
                 }
            }
            .transicion-minicajas-cursos {
                transition-timing-function: ease-out;
                transition: 2s;
            };
            .transicion-minicajas-cursos:hover {
                transform: rotateY(180deg);
            }
        }
    }
}

// .cards-cursos {
//     display: flex;
//     width: 40%;
// }

// .container-card {
//     background-color: rgb(153, 100, 31);
//     width: 600px;
//     height: 230px;
//     align-items: center;
//     .card-father {
//         margin: 0.2rem;
//         .card {
//             width: 250px;
//             height: 100%;
//             transform-style: preserve-3d;
//             .card-front {

//             }
//             .card-back {
//                 background-color: #002261e2;
//                 backface-visibility: hidden;
//                 transform-style: preserve-3d;
//             }
//         }
//     }
//     .card-father:hover .card{
//         transform: rotateY(180deg);
//         transition: 0.5seg;
//         }
// }