.titulo {
    @include titulo
}

.nav {
    @include nav;
    .item-nav {
        @include item-nav
    }
}

.section-uno-examenes {
    display: flex;
    flex-direction: column;
    .caja-local-examenes {
        display: flex;
        width: 65%;
        margin: 5rem 18% 0 18%;
        justify-content: space-between;
        .texto-local {
            .titulo-cajas-examenes {
                color: white;
                font-family: $fuente;
                font-size: $titulo;
            }
            .texto-cajas-examenes {
                color: white;
                font-family: $fuente;
                font-size: $texto-estandar;
                margin-right: 4rem;
            }
        }
        .imagen-uno-examenes {
            width: 280px;
            height: 250px;
        }
    }
    .caja-examenes-internacionales {
        display: flex;
        width: 80%;
        margin: 4rem 10% 0 10%;
        .imagen-dos-examenes {
            width: 400px;
            height: 400px;
        }
        .texto-internacionales {
            margin-left: 3rem;
            .titulo-cajas-examenes {
                color: white;
                font-family: $fuente;
                font-size: $titulo;
            }
            .texto-cajas-examenes {
                color: white;
                font-family: $fuente;
                font-size: $texto-estandar;
            }
            .lista-niveles-examenes {
                color: white;
                font-family: $fuente;
                font-size: $texto-estandar;
                text-decoration: none;
            }
        }
    }
}