.titulo {
    @include titulo
}

.nav {
    @include nav;

    .item-nav {
        @include item-nav
    }
}

.section-uno-examenes {
    display: flex;
    flex-direction: column;

    .caja-local-examenes {
        display: flex;
        width: 65%;
        margin: 5rem 18% 0 18%;
        justify-content: space-between;

        .titulo-cajas-examenes {
            color: white;
            font-family: $fuente;
            font-size: $titulo;
        }

        .texto-cajas-examenes {
            color: white;
            font-family: $fuente;
            font-size: $texto-estandar;
            margin-right: 4rem;
        }


        .imagen-uno-examenes {
            width: 280px;
            height: 250px;
            border-radius: 20px 20px 20px 20px;
            -moz-border-radius: 20px 20px 20px 20px;
            -webkit-border-radius: 20px 20px 20px 20px;
        }
    }

    .caja-examenes-internacionales {
        display: flex;
        width: 67%;
        align-content: center;
        margin: 3rem 0 0 5rem;

        .imagen-dos-examenes {
            margin-left: 3rem;
            display: block;
            width: 400px;
            height: 400px;
            border-radius: 20px 20px 20px 20px;
            -moz-border-radius: 20px 20px 20px 20px;
            -webkit-border-radius: 20px 20px 20px 20px;
        }

        .texto-internacionales {
            margin-left: 0;

            .titulo-cajas-examenes {
                color: white;
                font-family: $fuente;
                font-size: $titulo;
            }

            .texto-cajas-examenes {
                color: white;
                font-family: $fuente;
                font-size: $texto-estandar;
            }

            .lista-niveles-examenes {
                color: white;
                font-family: $fuente;
                font-size: $texto-estandar;
                text-decoration: none;

                .titulo-lista-examenes {
                    list-style: none;
                    text-decoration: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .section-uno-examenes {
        .caja-local-examenes {
            flex-direction: column;
            width: 100%;
            margin: 0px;
            padding: 0px;
            text-align: center;

            div {
                .titulo-cajas-examenes {
                    margin: 4rem 1rem 1.5rem 1rem;
                    text-align: center;
                }

                .texto-cajas-examenes {
                    margin: 0 2rem 0 2rem;
                    padding-right: 0;
                    text-align: center;
                }

                .imagen-uno-examenes {
                    display: none;
                }
            }
        }

        .caja-examenes-internacionales {
            flex-direction: column-reverse;
            width: 90%;
            margin: 0 0px 0 0;
            padding: 0;
            justify-content: center;

            .imagen-dos-examenes {
                margin: 0;
            }

            .texto-internacionales {
                margin-left: 0;
                padding: 0;
                text-align: center;

                .titulo-cajas-examenes {
                    text-align: center;
                }

                .texto-cajas-examenes {
                    margin: 0;
                    padding: 0;
                }

                .lista-niveles-examenes {
                    color: white;
                    font-family: $fuente;
                    font-size: $texto-estandar;
                    text-decoration: none;
                    text-align: left;
                    margin-top: 0.8rem;

                    .titulo-lista-examenes {
                        list-style: none;
                        text-decoration: none;
                    }
                }
            }
        }
    }



}