.header-inicio {
    z-index: 10;
    .titulo-inicio {
        color: white;
        font-family: $fuente;
        font-size: $titulo-header;
        padding-top: 1rem;
    };
    .subtitulo-inicio {
        color: white;
        font-family: $fuente;
        font-size: ($texto-estandar)+3px;
    }
}


.section-uno-inicio {
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr 20%;
    grid-template-areas: ". logo texto texto .";
    margin-top: 5rem;
    .logo-inicio {
        grid-area: logo;
        margin-top: 3rem;
        .logo-grande-inicio {
            width: 150px;
            height: 150px;
        }
    }

    .titulo-y-texto {
        grid-area: texto;
        .titulo-inicio-dos {
            color: white;
            font-family: $fuente;
            font-size: $titulo;
        };
        .texto-uno-inicio {
            color: white;
            font-family: $fuente;
            font-size: $texto-estandar;
            margin-top: 1rem;
        }
    }
}

.minicajas-inicio {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 15% 1fr 6% 1fr 6% 1fr 15%;
    grid-template-areas: ". caja1 . caja2 . caja3 .";
    
    .minicaja1 {
        grid-area: caja1;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        .titulo-minicaja {
           @include titulo-minicaja
        };
        .texto-minicaja {
           @include texto-minicaja;
           padding-top: 3.5rem;
        }
    }
    .minicaja2 {
        grid-area: caja2;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        .titulo-minicaja {
            @include titulo-minicaja
         };
         .texto-minicaja {
            @include texto-minicaja;
            padding-top: 3.5rem;
         }
    }
    .minicaja3 {
        grid-area: caja3;
        background-color: white; border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
    }
        .titulo-minicaja {
            @include titulo-minicaja
         };
         .texto-minicaja {
            @include texto-minicaja
         }
    }
    .transicion-minicaja {
        transition: 1s;
        transition-timing-function: ease-in-out;
    }
    .transicion-minicaja:hover {
        transform: scale(1.2);
    }


.ubicacion-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding-bottom: 4rem;
    .titulo-ubi-inicio {
        color: white;
        font-family: $fuente;
        font-size: $titulo;
        margin-bottom: 1rem;
    }
}

// DESKTOP FIRST

@media only screen and (max-width:1200px) {

}

@media only screen and (max-width:1024px) {
    .section-uno-inicio {
        grid-template-areas: ". logo texto texto texto";
        .texto-uno-inicio {
            padding-right: 5rem;
        }
    }
    .minicajas-inicio {
        grid-template-columns: 5% 1fr 5% 1fr 5% 1fr 5%;
    }
}

@media only screen and (max-width: 480px) {
    .section-uno-inicio {
        display: flex;
        flex-direction: column;
        .logo-inicio {
            display: none;
        }
        .titulo-inicio-dos {
            text-align: center;
        }
        .texto-uno-inicio {
            text-align: center;
            padding-right: 0;
            margin: 0 3rem;
        }
    }
    .minicajas-inicio {
        display: flex;
        flex-direction: column;
        margin: 6rem 3rem;
        .minicaja1 {
            margin-bottom: 2rem;
        }
        .minicaja2 {
            margin-bottom: 2rem;
        }
    }
    
    
}
