@mixin grid-body {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px 1fr 300px;
    grid-template-areas: "header header header header header"
        "main main main main main"
        "footer footer footer footer footer";

}

@mixin titulo {
    color: white;
    font-family: $fuente;
    font-size: $titulo-header;
    padding-top: 1rem;
}

@mixin nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    text-align: right;
    padding: 1rem 0 1rem 0;
}

@mixin item-nav {
    color: white;
    font-family: $fuente;
    font-size: $texto-estandar;
    text-decoration: none;
    margin-left: 2em;
}

@mixin titulo-minicaja {
    color: white;
    background-color: #7F0101;
    font-family: $fuente;
    font-size: ($texto-estandar)+10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

@mixin texto-minicaja {
    color: black;
    font-family: $fuente;
    font-size: $texto-estandar;
    text-align: center;
    padding: 15px;
}

@mixin titulo-cajas-covid {
    color: white;
    font-family: $fuente;
    font-size: ($texto-estandar)+10px;
    text-align: center;
}

@mixin transicion-minicajas-inicio {
    transition: 1s;
    transition-timing-function: ease-in-out;
}

@mixin tamaño-minicajas-cursos {
    width: 240px;
    height: 145px;
}

@mixin boton-inicio {
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: #002261e2;
    font-family: $fuente;
    font-size: ($texto-estandar)+5px;
    position: fixed;
    bottom: 30px;
    left: 1080px;
    padding: 10px;
    width: 160px;
}