$texto-estandar: 15px;
$titulo-header: 40px;
$titulo: 35px;
$fuente:'Raleway', sans-serif;
$tamaño-boton: 20px

colores (
    "blanco": white,
    "negro": black,
    "rojo": #7F0101,
    "azul": #002261,
    "azul-transparente": #002261e2,
)


