.titulo {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  padding-top: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  text-align: right;
  padding: 1rem 0 1rem 0;
}
.nav .item-nav {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-decoration: none;
  margin-left: 2em;
}

.section-contacto {
  display: flex;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.section-contacto div .titulo-formulario {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  padding-left: 6rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}
.section-contacto div .formulario-contacto {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.3;
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
}
.section-contacto div .formulario-contacto .margen-input {
  margin: 13px 0;
}
.section-contacto div .formulario-contacto .margen-preguntas {
  margin-top: 2rem;
}
.section-contacto div .formulario-contacto .margen-consulta {
  margin-top: 1rem;
}
.section-contacto div .formulario-contacto .margen-siono {
  margin-top: 1rem;
}
.section-contacto div .formulario-contacto .botones-formulario {
  margin-top: 1rem;
}
.section-contacto .ubicacion-contacto {
  margin-left: 8rem;
}
.section-contacto .ubicacion-contacto .titulo-ubi-contacto {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

@media only screen and (max-width: 1024px) {
  .ubicacion-contacto {
    margin-right: 3rem;
  }
}
@media only screen and (max-width: 480px) {
  .titulo {
    font-size: 30px;
  }
  .item-nav {
    font-size: 10px;
  }
  .section-contacto {
    flex-direction: column;
    width: 100%;
    padding-top: 5rem;
  }
  .section-contacto div .titulo-formulario {
    font-size: 22px;
    padding-left: 5rem;
  }
  .section-contacto .ubicacion-contacto {
    margin: 3rem 0 3rem 3rem;
    padding: 0;
  }
  .section-contacto .ubicacion-contacto .mapa-contacto {
    width: 400px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 350px 1fr 300px;
  grid-template-areas: "header header header header header" "main main main main main" "footer footer footer footer footer";
}
body header {
  grid-area: header;
  background-color: #7F0101;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header .nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  text-align: right;
  padding: 1rem 0 1rem 0;
}
body header .nav .item-nav {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-decoration: none;
  margin-left: 2em;
}
body main {
  grid-area: main;
  background-color: #002261;
}

footer {
  grid-area: footer;
  background-color: #7F0101;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  padding: 2em;
}/*# sourceMappingURL=estilos.css.map */